<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="card">
            <h5>{{ 'USER_DASHBOARD' | i18next }}</h5>
            <p-message severity="warn" text="{{ 'USER_ROLE_DASHBOARD_LIST_WARNING' | i18next }}" *ngIf="!userRoleCount || userRoleCount.length === 0"></p-message>
            <p-table #userDashboardTable [value]="userRoleCount" [loading]="loading" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col">{{ 'USER_DASHBOARD_ROLE_NAME' | i18next }}</th>
                        <th scope="col">{{ 'USER_DASHBOARD_USERS_ROLE_COUNT' | i18next }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{user.roleName}}</td>
                        <td>{{user.count}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>