<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="card">
            <h5>{{ 'USER_DASHBOARD' | i18next }}</h5>
            <p-message severity="warn" text="{{ 'USER_ROLE_DASHBOARD_LIST_WARNING' | i18next }}" ></p-message>
            <p-table [loading]="loading" [paginator]="true" [rows]="10"
                responsiveLayout="scroll" >
                <ng-template pTemplate="caption">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"> </i>
                        <input type="text" pInputText placeholder="{{ 'SELECT_USER_DASHBOARD_ROLE' | i18next }}"
                            />
                    </span>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" pSortableColumn="orgName">{{ 'USER_DASHBOARD_ROLE_NAME' | i18next }}<p-sortIcon
                                field="orgName"></p-sortIcon></th>
                        <th scope="col" pSortableColumn="userCount">{{ 'USER_DASHBOARD_USERS_ROLE_COUNT' | i18next }}<p-sortIcon
                                field="userCount"> </p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{user.orgName}}</td>
                        <td>{{user.userCount}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
