<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <h5 class="m-0">{{ 'COMMON_USER' | i18next}}</h5><br>                 
            <p-table #myTable [value]="OrganizationsUsersList" [columns]="cols" [loading]='loading'
                [totalRecords]="OrganizationsUsersList.length" responsiveLayout="scroll" [rows]="rows" [paginator]="true"
                [globalFilterFields]="globalFilterFields"
                [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple"
                [rowHover]="true" dataKey="userId">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(myTable, $event)"
                                placeholder="{{ 'USER_SEARCH' | i18next }}" class="w-full sm:w-auto" />
                        </span>            
                        <p-message severity="warn" text="{{ 'ORGANIZATION_USERS_LIST_WARNING' | i18next }}"
                               *ngIf="!OrganizationsUsersList || OrganizationsUsersList.length === 0"></p-message>
                    
                        <button pButton pRipple label="{{ 'USER_ADD' | i18next }}" icon="pi pi-plus" class="p-button-success mr-2" (click)="addNewUser()"
                            ></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" pSortableColumn="firstName">{{ 'USER_FIRST_NAME' |i18next }}<p-sortIcon field="firstName"></p-sortIcon></th>
                        <th scope="col" pSortableColumn="lastName">{{ 'USER_LAST_NAME' |i18next }}<p-sortIcon field="lastName"></p-sortIcon></th>
                        <th scope="col" pSortableColumn="channel">{{ 'USER_CHANNEL_NAME'  | i18next}}<p-sortIcon field="channel"></p-sortIcon></th>
                        <th scope="col" pSortableColumn="email">{{ 'USER_EMAIL' | i18next }} <p-sortIcon field="email"></p-sortIcon></th>
                        <th scope="col" pSortableColumn="phone">{{ 'USER_PHONE' |i18next }}<p-sortIcon field="phone"></p-sortIcon></th>
                        <th scope="col" pSortableColumn="status">{{ 'USER_STATUS' | i18next }}<p-sortIcon field="status"></p-sortIcon></th>
                        <th scope="col">{{ 'USER_ACTION' | i18next }}</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>
                            <span class="p-column-title">{{'USER_FIRST_NAME' | i18next}}</span>
                            {{user.firstName}}
                        </td>
                        <td >
                            <span class="p-column-title">{{'USER_LAST_NAME' | i18next}}</span>
                            {{user.lastName}}
                        </td>
                        <td ><span class="p-column-title">{{'USER_ORGANIZATION_NAME' | i18next}}</span>
                            {{user.channel}}
                        </td>
                        <td>
                            <span class="p-column-title">{{'USER_EMAIL' | i18next}}</span>
                            {{user.email}}
                        </td>
                        <td>
                            <span class="p-column-title">{{'USER_PHONE' | i18next}}</span>
                            {{user.phone}}
                        </td>
                        <td>
                            <span class="p-column-title" >{{'USER_STATUS' | i18next}}</span>
                            {{user.status ? "Active" : "Inactive"}}
                        </td>
                        <td>
                            <div class="flex">
                                <button [disabled]="!user.status" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editRole(user)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog [(visible)]="userDialog" header="{{'USER_EDIT_ROLE' | i18next}}" [modal]="true" class="p-fluid"> 
    <ng-template pTemplate="content">
        <div class="card p-fluid">
            <div class="field">
                <label for="multiselect">{{ 'USER_ROLE' | i18next }} *</label>
                <p-multiSelect optionLabel="name" placeholder="{{'USER_ROLE_PLACEHOLDER' | i18next}}" optionValue="value"
                    [options]="roles" appendTo="body" [(ngModel)]="selectedUserRole" [ngClass]="{'ng-invalid ng-dirty' : submitted && selectedUserRole.length === 0}"></p-multiSelect>
                    <div><small class=danger *ngIf="submitted && selectedUserRole.length === 0">{{ 'USER_ROLE_REQUIRED' | i18next }}.</small>
                    </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ 'USER_CANCEL' | i18next }}" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ 'USER_SAVE' | i18next }}" icon="pi pi-check" class="p-button-success" appendTo="body"
            (click)="saveUserRole()"></button>
    </ng-template>
</p-dialog>