<p-table [value]="subOrgDetails" responsiveLayout="scroll" [paginator]="true" [totalRecords]="SuborgCount" [(first)]="first" [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true" [lazy]="true" (onLazyLoad)="getSubOrgDetail($event)" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="rows">
    <!-- <p-table #myTab [value]="organizationDetail" [loading]='loading' [totalRecords]="orgCount" [paginator]="true" [(first)]="first" [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true" [lazy]="true" (onLazyLoad)="loadOrganizationData($event)" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="rows" responsiveLayout="scroll" [rowHover]="true"> -->
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Sub-Organization Name <p-sortIcon field="vin"></p-sortIcon></th>
            <th pSortableColumn="year">Id</th>
        </tr>
        <tr>
            <th scope="col">
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onSearch($event)" placeholder="{{ 'ORGANIZATION_SEARCH' | i18next }}" class="w-full sm:w-auto" [(ngModel)]="filteredValue.orgName">
                </span>
            </th>
            <th scope="col"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-subOrg>
        <tr>
            <td>{{ subOrg.orgName }}</td>
            <td>{{ subOrg.id }}</td>
        </tr>
    </ng-template>
</p-table>