<div class="card">
    <p-table [value]="subOrgDetails" responsiveLayout="scroll" [loading]="loading" [paginator]="true" [totalRecords]="SuborgCount" [(first)]="first" [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true" [lazy]="true" (onLazyLoad)="loadSubOrgandUserCount($event)" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="rows">
        <ng-template pTemplate="caption">
            <h5 class="m-0">{{rootOrg.channel}}</h5>
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <p-message severity="warn" text="{{'SUB_ORGANIZATION_DATA_NOT_FOUND' |i18next}}" *ngIf="!subOrgDetails || subOrgDetails.length === 0"></p-message>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">{{'SUB_ORGANIZATION_NAME' |i18next}}</th>
                <th scope="col">{{'SUB_ORGANIZATION_ID' |i18next}}</th>
                <th scope="col">{{'SUB_ORGANIZATION_USER_COUNT' |i18next}}</th>
            </tr>
            <tr>
                <th scope="col">
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onSearch($event)" placeholder="{{ 'SUB_ORGANIZATION_SEARCH' | i18next }}" class="w-full sm:w-auto" [(ngModel)]="filteredValue.orgName">
                    </span>
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subOrg>
            <tr>
                <td>{{ subOrg.orgName }}</td>
                <td>{{ subOrg.id }}</td>
                <td>{{ subOrg.userCount }}</td>
            </tr>
        </ng-template>
    </p-table>