<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <form [formGroup]="createCategory">
                <div class="card p-fluid">
                    <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
                    <div class="field">
                        <label for="rootName">{{ 'ADD_SUB_ORGANIZATION_ROOT' | i18next}}*</label>
                        <p-dropdown [options]="organizations" [filter]="true" [showClear]="true" formControlName="filteredValue" optionLabel="channel" (onChange)="onSearch($event)" appendTo="body" placeholder="{{'USER_ORGANIZATION_PLACEHOLDER' | i18next}}" optionValue="orgName"></p-dropdown>
                    </div>
                    <div class="field">
                        <label for="rootName">{{ 'FRAMEWORK' | i18next}}*</label>
                        <p-dropdown [options]="frameworks" [filter]="true" [showClear]="true" formControlName="frameworkName" optionLabel="identifier" appendTo="body" placeholder="{{'FRAMEWORK_PLACEHOLDER' | i18next}}" optionValue="identifier"></p-dropdown>
                    </div>
                   
                </div>
                <div class="p-col-12 p-md-6 p-lg-4 p-xl-3 action-buttons-position">
                    <button pButton pRipple label="{{ 'ADD_SUB_ORG_SUBMIT' | i18next }}" icon="pi pi-check" class="p-button p-button-success" (click)="Publish()"></button>&nbsp; 
                </div>
                
            </form>
        </div>
    </div>
</div>