.my-form .field {
    margin-bottom: 10px;
  }
  
  .my-form label {
    font-weight: bold;
  }
  
  .my-form input[type="text"],
  .my-form input[type="email"] {
    width: 100%;
    border: none;
    //border-bottom: 1px solid #ccc;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
//   .my-form input[type="text"]:focus,
//   .my-form input[type="email"]:focus {
//     outline: none;
//     border-bottom: 1px solid #009688;
//   }
  