<p-toast></p-toast>
<form [formGroup]="addEditUserForm">
    <div class="card p-fluid">
        <div class="field">
            <label for="firstName">{{ 'USER_FIRST_NAME' | i18next }} * </label>
            <input type="text" pInputText id="firstName" autofocus placeholder="{{'USER_FIRST_NAME_PLACEHOLDER' | i18next}}"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && addEditUserForm.controls['firstName'].errors}" formControlName="firstName" />
            <div class="text-red-500">
                <small *ngIf="submitted && addEditUserForm.controls['firstName'].errors">{{ 'USER_FIRST_NAME_REQUIRED' | i18next }}.</small>
            </div>
        </div>
        <div class="field">
            <label for="lastName">{{ 'USER_LAST_NAME' | i18next }} *</label>
            <input type="text" pInputText id="lastName" autofocus placeholder="{{'USER_LAST_NAME_PLACEHOLDER' | i18next}}"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && addEditUserForm.controls['lastName'].errors}" formControlName="lastName" />
            <div class="text-red-500">
                <small *ngIf="submitted && addEditUserForm.controls['lastName'].errors">{{ 'USER_LAST_NAME_REQUIRED' | i18next }}.</small>
            </div>
        </div>
        <div class="field">
            <label for="userName">{{ 'USER_NAME' | i18next }} *</label>
            <input type="text" pInputText id="userName" autofocus placeholder="{{'USER_NAME_PLACEHOLDER' | i18next}}"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && addEditUserForm.controls['userName'].errors}" formControlName="userName" />
            <div class="text-red-500">
                 <small class="ng-dirty ng-invalid" *ngIf="submitted && addEditUserForm.controls['userName'].errors">{{ 'USER_NAME_REQUIRED' | i18next }}.</small>
            </div>
        </div>
        <div class="field">
            <label for="password">{{ 'USER_PASSWORD' | i18next }} *</label>
            <input type="password" pInputText id="password" autofocus placeholder="{{'USER_PASSWORD_PLACEHOLDER' | i18next}}"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && addEditUserForm.controls['password'].errors}" formControlName="password" />
            <div class="text-red-500">
                <small class="text-red-500" *ngIf="submitted && addEditUserForm.controls['password'].errors">{{ 'USER_PASSWORD_REQUIRED' | i18next }}.</small>
            </div>
        </div>
        <div class="field">
            <label for="email">{{ 'USER_EMAIL' |i18next }} *</label>
            <input type="email" pInputText id="email" autofocus formControlName="email" placeholder="{{'USER_EMAIL_PLACEHOLDER' | i18next}}"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && addEditUserForm.controls['email'].errors}" />
            <div class="text-red-500">
                <small *ngIf="submitted && !(addEditUserForm.controls['phone'].value || addEditUserForm.controls['email'].value)">{{ 'USER_PHONE_OR_USER_EMAIL_REQUIRED' | i18next }}.</small>
            </div>
        </div>
        <div class="field">
            <label for="phone">{{ 'USER_PHONE' |i18next }} *</label>
            <input type="text" pInputText id="phone" autofocus formControlName="phone" placeholder="{{'USER_PHONE_PLACEHOLDER' | i18next}}"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && addEditUserForm.controls['phone'].errors}" formControlName="phone" />
            <div class="text-red-500">
                <small *ngIf="submitted && !(addEditUserForm.controls['phone'].value || addEditUserForm.controls['email'].value)">{{ 'USER_PHONE_OR_USER_EMAIL_REQUIRED' | i18next }}.</small>
            </div>
        </div>
        <div class="field">
            <label for="multiselect">{{ 'USER_ROLE' | i18next }} *</label>
            <p-multiSelect [options]="roles" formControlName="roles" optionLabel="name" placeholder="{{'USER_ROLE_PLACEHOLDER' | i18next}}"
                optionValue="value"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && addEditUserForm.controls['roles'].errors}"></p-multiSelect>          
            <div class="text-red-500">
                <small *ngIf="submitted && addEditUserForm.controls['roles'].errors">{{ 'USER_ROLE_REQUIRED' | i18next }}.</small>
            </div>
        </div>
        <div class="field">
            <label for="multiselect">{{ 'USER_CHANNEL_NAME' | i18next }} *</label>
            <p-dropdown formControlName="channel" [options]="organizations" optionLabel="orgName" placeholder="{{'USER_ORGANIZATION_PLACEHOLDER' | i18next}}" optionValue="channel"
                [ngClass]="{'ng-invalid ng-dirty' : submitted && addEditUserForm.controls['channel'].errors}"></p-dropdown>
            <div class="text-red-500">
                <small *ngIf="submitted && addEditUserForm.controls['channel'].errors">{{ 'USER_ORGANIZATION_NAME_REQUIRED' | i18next }}.</small>
            </div>
        </div>
        <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
        <div class="p-formgrid grid mt-5">
            <div class="field col">
                <button pButton pRipple type="button" label="{{ 'USER_CANCEL' | i18next }}" icon="pi pi-times" class="p-button-secondary"
                (click)="cancel()" ></button>
            </div>
            <div class="field col">
                <button pButton pRipple label="{{ 'USER_SUBMIT' | i18next }}" type="button" icon="pi pi-check" class="p-button-success"
                (click)="saveUser()"></button>
            </div>
            
            
        </div>
    </div>
</form>