<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="card">
            <h5>Users</h5>
            <p-table [value]="tenantDetail" [paginator]="true" [rows]="10" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="orgName">Organization Name<p-sortIcon field="orgName"></p-sortIcon></th>
                        <th pSortableColumn="userCount">User Registered<p-sortIcon field="userCount"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td style="width: 35%; min-width: 7rem;">{{user.orgName}}</td>
                        <td style="width: 35%; min-width: 8rem;">{{user.userCount}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>