<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="card">
            <h5>{{ 'DASHBOARD' | i18next }}</h5>
            <p-message severity="warn" text="User Count Data Not Found !!"
                *ngIf="!tenantUserCount || tenantUserCount.length === 0"></p-message>
            <p-table #myTab [value]="tenantDetail" [loading]="loading" [paginator]="true" [rows]="10"
                responsiveLayout="scroll" [globalFilterFields]="['orgName']">
                <ng-template pTemplate="caption">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"> </i>
                        <input type="text" pInputText placeholder="Organization Name"
                            (input)="myTab.filterGlobal($any($event.target).value,'contains')" />
                    </span>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="orgName">{{ 'DASHBOARD_ORGANIZATION_NAME' | i18next }}<p-sortIcon
                                field="orgName"></p-sortIcon></th>
                        <th pSortableColumn="userCount">{{ 'DASHBOARD_USER_REGISTERED' | i18next }}<p-sortIcon
                                field="userCount"> </p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{user.orgName}}</td>
                        <td>{{user.userCount}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>